/* Sets background color for the body */
body {
    background-color: #303030;
    margin: 0;
}

/* Style for the sorting area container */
#sorting_area {
    width: 80vw;
    height: 80vh;
    margin: auto;
    display: flex;
    align-items: baseline;
}

/* Style for the columns within the sorting area */
.column {
    display: block;
    border: 1px solid black;
}

/* Style for the top section of the page */
.top {
    align-items: flex-end;
}

/* Style for the main slider */
#main-slider-container {
    width: 85%;
    margin: 40px auto 0 auto;
    display: block;
}

#main-slider {
    width: 90%;
    height: 20px;
    margin: 0 auto;
}

/* Style for the output and iteration counter text */
#output, #iteration-counter {
    color: greenyellow;
    font-size: 40px;
    margin: 0 0 0 20px;
}

/* Style for the sort buttons */
.buttons {
    background-color: lawngreen;
    font-size: 20px;
    width: fit-content;
    height: 40px;
    margin: 0 20px;
    text-align: center;
}

.algorithm {
    background-color: #0000;
    border: #0000;
    color: white;
    font-size: 30px;
    width: fit-content;
    margin: 30px 10px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

#selection-menu.visible {
    left: 0;
}

#selection-menu {
    display: block;
    position: absolute;
    width: 300px;
    height: 100%;
    background-color: #505050fa;
    left: -299px;
    transition: left 1s ease;
}