body {
    background-color: #303030;
}

#sorting_area {
    width: 95vw;
    height: 90vh;
    margin: auto;
    /*border: 3px solid black;
*/
    display: flex;
    align-items: baseline;

}

.column {
    display: block;
    border: 1px solid black;
}

.top {
    align-items: end;
}

#main-slider {
    width: 70%;
}

#output {
    color: greenyellow;
    font-size: 40px;

}

.sorts {

    background-color: lawngreen;
    font-size: 20px;
    width: fit-content;
    height: 40px;
    margin: 0 20px;
    text-align: center;
    display: inline-block;
}